<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.then.dao.CourseDao">
    <select id="findAll" resultType="com.then.entity.Course">
        SELECT * FROM course;
    </select>
    <select id="findByCno" resultType="com.then.entity.Course" parameterType="string">
        SELECT * FROM course WHERE cno=#{cno};
    </select>
</mapper>