<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.then.dao.UserDao">
    <select id="findByUserName" parameterType="string" resultType="com.then.entity.User">
        SELECT * FROM demo.user WHERE UserName=#{username}
    </select>
</mapper>